{% assign text = site.data.mrs_page %}
<section class="basis">
  <div class="basis__container">
    <img
      class="basis__container__logo"
      src="{{ site.baseurl }}/assets/img/platformPage/rusProduct.svg"
      alt="basis-logo"
    />
    <div class="basis__container__text">
      <div class="basis__container__text__title">
        <h4>Сделано<span class="orange_color">&nbsp;в России</span></h4>
      </div>
      <p>
        Платформа разработана с&nbsp;применением свободно распространяемых библиотек и&nbsp;компонентов,
        без&nbsp;использования платного зарубежного ПО.
      </p>
    </div>
    <div class="card">
      {% for item in text.rusProductBlock %}
      <div class="card__item">
        <img class="card__item__img" src="{{ site.baseurl }}{{item.url}}" alt="card-logo" />
        <h6>{{item.title}}</h6>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
