{% assign text = site.data.mrs_page %}
<section class="digitizing">
  <div class="digitizing__container">
    <img
      class="digitizing__container__logo"
      src="{{ site.baseurl }}/assets/img/platformPage/digitizingSvg.svg"
      alt="digitizing-logo"
    />
    <div class="digitizing__container__text">
      <div class="digitizing__container__text__title">
        <h4>Для сбора данных</h4>
        <h4 class="orange_color">&nbsp;оцифруйте процессы</h4>
      </div>
      <p class="body1">Создавайте приложения из элементов Платформы, оставляющие цифровой след.</p>
    </div>
    <div class="digitizing__card">
      {% for item in text.digitizingBlock %}
      <div class="digitizing__card__item">
        <div class="digitizing__card__item__text">
          <h6>{{item.title}}</h6>
          <p>{{item.description}}</p>
        </div>
        <img class="digitizing__card__item__img" src="{{ site.baseurl }}{{item.url}}" alt="card-image" />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
