{% assign text = site.data.mrs_page %}
<section class="digitizing">
  <div class="digitizing__container">
    <img
      class="digitizing__container__logo"
      src="{{ site.baseurl }}/assets/img/platformPage/digitizingSvg.svg"
      alt="digitizing-logo"
    />
    <div class="digitizing__container__text">
      <div class="digitizing__container__text__title">
        <h4>Для сбора данных</h4>
        <h4 class="orange_color">&nbsp;оцифруйте процессы</h4>
      </div>
      <p class="body1">{{ text.digitizingBlock.description }}</p>
    </div>
    <div class="digitizing__container__cards">
      <img
        src="{{ site.baseurl }}/assets/img/platformPage/cards/digitizing/autorization.svg"
        alt="autorization-image"
      />
      <img src="{{ site.baseurl }}/assets/img/platformPage/cards/digitizing/interface.svg" alt="interface-image" />
      <img src="{{ site.baseurl }}/assets/img/platformPage/cards/digitizing/model.svg" alt="model-image" />
      <img src="{{ site.baseurl }}/assets/img/platformPage/cards/digitizing/direction.svg" alt="direction-image" />
      <img src="{{ site.baseurl }}/assets/img/platformPage/cards/digitizing/document.svg" alt="document-image" />
      <img src="{{ site.baseurl }}/assets/img/platformPage/cards/digitizing/analytics.svg" alt="analytics-image" />
    </div>
  </div>
</section>
