{% assign text = site.data.mrs_page %} {% assign btnText = site.data.texts_app.button %}
<section class="first">
  <div class="first__container">
    <div class="first__container__text">
      <h3>МРС Платформа. Цифровизация ваших</h3>
      <h3></h3>
      <h3 class="orange_color">уникальных процессов</h3>
      <h5>{{ text.firstBlock }}</h5>
    </div>
    <button>{{ btnText.moreIntegration }}</button>
    <img src="{{ site.baseurl }}/assets/img/platformPage/platform.svg" alt="mrs-image" />
  </div>
</section>
