{% assign text = site.data.mrs_page %} {% assign btnText = site.data.texts_app.button %}
<section class="first bottom-border">
  <div class="first__container">
    <div class="first__container__logo">
      <a href="{{site.baseurl}}/" class="first__container__logo__img">
        <img src="{{ site.baseurl }}/assets/img/platformPage/platformLogo.svg" alt="platform-logo"
      /></a>
    </div>
    <div class="first__container__text">
      <h1>
        Приложения для бизнеса<span class="orange_color">&nbsp;<br />в минимальные сроки</span>
      </h1>
      <h6>{{ text.firstBlock }}</h6>
    </div>
    <button id="first-section-btn">{{ btnText.moreIntegration }}</button>
    <img
      src="{{ site.baseurl }}/assets/img/platformPage/platform.png"
      alt="mrs-image"
      srcset="{{
    site.baseurl}}/assets/img/platformPage/platform382w.png 382w, {{
    site.baseurl}}/assets/img/platformPage/platform592w.png 592w, {{ site.baseurl }}/assets/img/platformPage/platform.png 1200w"
      sizes="(max-width: 540px) 382px, (max-width: 700px) 592px, 1200px"
      loading="lazy"
    />
  </div>
</section>
