{% assign text = site.data.mrs_page %} {% assign btnText = site.data.texts_app.button %}
<section class="integration">
  <div class="integration__container">
    <img
      class="integration__container__img"
      src="{{ site.baseurl }}/assets/img/platformPage/integration.png"
      alt="second-image"
    />
    <img
      class="integration__container__logo"
      src="{{ site.baseurl }}/assets/img/platformPage/globeSvg.svg"
      alt="globe-image"
    />
    <div class="integration__container__text">
      <div class="integration__container__text__title">
        <h4><span class="orange_color">Без ошибок</span>&nbsp;и ручного ввода</h4>
      </div>
      <p>{{ text.integrationBlock.description }}</p>
    </div>
    <button id="integration-section-btn">
      {{ btnText.startIntegration }}
      <img src="{{ site.baseurl }}/assets/img/platformPage/arrowWhite.svg" alt="Картинка стрелки" class="arrow-img" />
    </button>
  </div>
</section>
