{% assign text = site.data.mrs_page.questionsBlock %}

<section class="questions">
  <div class="questions__title">
    <h4><span class="orange_color">Ответы</span>&nbsp; на вопросы</h4>
  </div>
  <div class="questions__content">
    <div class="questions__content__text">
      <div class="questions__content__accordion">
        <p class="subtitle1 questions__content__header">{{ text.first.title }}</p>
        <img class="close" src="{{ site.baseurl }}/assets/img/close.svg" alt="Картинка закрытия" />
        <img class="open" src="{{ site.baseurl }}/assets/img/add.svg" alt="Картинка открытия" />
      </div>
      <p class="questions__content__description">
        {{ text.first.description}} <a href="{{text.first.link}}" target="_blank">&nbsp;{{ text.first.textLink}}</a>
      </p>
      <div class="divider"></div>
    </div>
    <div class="questions__content__text">
      <div class="questions__content__accordion">
        <p class="subtitle1 questions__content__header">{{ text.second.title }}</p>
        <img class="close" src="{{ site.baseurl }}/assets/img/close.svg" alt="Картинка закрытия" />
        <img class="open" src="{{ site.baseurl }}/assets/img/add.svg" alt="Картинка открытия" />
      </div>
      <p class="questions__content__description">
        {{ text.second.description}}
        <a href="{{text.second.link}}" target="_blank">&nbsp;{{ text.second.textLink}}</a>
      </p>
    </div>
  </div>
</section>
