{% assign text = site.data.mrs_page %}
<section class="second">
  <div class="second__container">
    <div class="second__container__logo">
      <img
        class="second__container__logo__img"
        src="{{ site.baseurl }}/assets/img/platformPage/numberSvg.svg"
        alt="number-image"
      />
    </div>
    <div class="second__container__text">
      <div class="second__container__text__title">
        <h4><span class="orange_color">Принимайте решения</span>&nbsp;на основе данных</h4>
      </div>
      <p>{{ text.secondBlock }}</p>
    </div>
    <img
      src="{{ site.baseurl }}/assets/img/platformPage/secondImg.png"
      alt="second-image"
      srcset="{{
    site.baseurl}}/assets/img/platformPage/secondImg382w.png 382w, {{
    site.baseurl}}/assets/img/platformPage/secondImg592w.png 592w, {{ site.baseurl }}/assets/img/platformPage/secondImg.png 1200w"
      sizes="(max-width: 540px) 382px, (max-width: 700px) 592px, 1200px"
      loading="lazy"
    />
  </div>
</section>
