{% assign text = site.data.mrs_page %}
<section class="second">
  <div class="second__container">
    <div class="second__container__logo">
      <img
        class="second__container__logo__img"
        src="{{ site.baseurl }}/assets/img/platformPage/number.svg"
        alt="number-image"
      />
    </div>
    <div class="second__container__text">
      <div class="second__container__text__title">
        <h4>Принимайте решения</h4>
        <h4 class="orange_color">&nbsp;на основе данных</h4>
      </div>
      <p>{{ text.secondBlock }}</p>
    </div>
    <img src="{{ site.baseurl }}/assets/img/platformPage/secondImg.svg" alt="second-image" />
  </div>
</section>
