.privacy {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-paper);

  &__content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $space * 32px;
    margin-bottom: $space * 26px;
    color: var(--color-primary);

    @media screen and (max-width: 900px) {
      width: 90%;
    }

    @media screen and (max-width: 700px) {
      margin-top: $space * 16px;
    }
  }

  h4 {
    margin-bottom: $space * 6px;
  }

  h5 {
    margin-bottom: $space * 6px;
    margin-top: $space * 10px;

    @media screen and (max-width: 700px) {
      margin-top: $space * 10px;
    }
  }

  p {
    margin-bottom: $space * 6px;
  }
}