{% assign text = site.data.texts_app.header %} {% assign footerText = site.data.texts_app.footer %}
<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__top__element first-flex">
        <a href="{{site.baseurl}}/"> <img src="{{ site.baseurl }}/assets/img/logoWithTitle.svg" alt="logo" /></a>
        <a href="https://sk.ru/" target="_blank">
          <img src="/assets/img/sk.svg" alt="Логотип СК" class="footer__sk__logo" />
        </a>
      </div>
      <div class="footer__top__element second-flex">
        <div class="footer__right">
          <p>{{ footerText.title.platform }}</p>
          <a href="{{site.baseurl}}/platform/" class="footer-link"> {{ footerText.title.aboutPlatform }} </a>
          <a href="https://developers.mrspro.ru/" target="_blank" class="footer-link">
            {{ footerText.title.developers }}
          </a>
        </div>
        <div class="footer__right">
          <p>{{ footerText.title.resources }}</p>
          <a href="{{site.baseurl}}/about/" class="footer-link"> {{ text.links.aboutUs }} </a>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="footer__bottom">
      <p>{{ footerText.title.ooo }}</p>
      <div class="divider_vertical"></div>
      <a href="{{site.baseurl}}/privacy/" class="footer-link"> {{ footerText.title.privacyPolicy }} </a>
      <!-- <div class="divider_vertical"></div>
      <a href="{{site.baseurl}}/policy" class="footer-link"> {{ footerText.title.policy }} </a> -->
    </div>
  </div>
</footer>
