{% assign text = site.data.texts_app.header %}
<header class="header">
  <div class="header__container">
    <div class="header-left">
      <img class="header-logo" src="{{ site.baseurl }}/assets/img/logo.svg" alt="logo"></img>
      <p class="header-link">МРС</p>
    </div>
    <div class="header-right">
      <a class="header-link" href="{{site.baseurl}}/platform">{{ text.links.mrsPlatrform }}</a>
      <a class="header-link" href="{{site.baseurl}}/sk">{{ text.links.stroyControl }}</a>
      <a class="header-link" href="{{site.baseurl}}/about">{{ text.links.aboutUs }}</a>
    </div>
  </div>
</header>
