{% assign text = site.data.texts_app.header %}
<header class="header">
  <div class="header__container">
    <div class="header-left">
      <a href="{{site.baseurl}}/" class="header-link-logo">
        <img class="header-logo" src="{{ site.baseurl }}/assets/img/logoWithTitle.svg" alt="logo"
      /></a>
    </div>
    <div class="header-right">
      <a class="header-link" href="{{site.baseurl}}/platform/">{{ text.links.mrsPlatrform }}</a>
      <a class="header-link" href="{{site.baseurl}}/about/">{{ text.links.aboutUs }}</a>
    </div>
    <button id="burger-btn" class="burger">
      <img src="{{site.baseurl}}/assets/img/menu.svg" alt="menu-icon" />
    </button>
  </div>
</header>
