{% assign text = site.data.texts_app.mobileMenu %}
<div id="simple-mobile-menu" class="mobile-menu">
  <div class="mobile-menu__header">
    <div class="header-left">
      <a href="{{site.baseurl}}/" class="header-link-logo">
        <img class="header-logo" src="{{ site.baseurl }}/assets/img/logoWithTitle.svg" alt="logo"
      /></a>
    </div>
    <span id="mobile-menu__close" class="mobile-menu__close">
      <img src="{{ site.baseurl }}/assets/img/close.svg" alt="Картинка закрытия" />
    </span>
  </div>

  <div class="mobile-menu__items">
    <nav class="mobile-menu__item">
      <a class="mobile-menu__item-link" href="{{site.baseurl}}/platform">{{ text.mrsPlatrform }}</a>
    </nav>
    <!-- <nav class="mobile-menu__item">
            <a class="mobile-menu__item-link" href="{{site.baseurl}}/sk">{{ text.stroyControl }}</a>
        </nav> -->
    <nav class="mobile-menu__item">
      <a class="mobile-menu__item-link" href="{{site.baseurl}}/about">{{ text.aboutUs }}</a>
    </nav>
  </div>
</div>
