.second {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-paper);
  max-width: 100%;
  max-height: 1176px;

  @media (max-width: 1000px) {
    // width: 92%;
    // margin: 0 auto;
    padding: 0 16px;
  }

  @media screen and (max-width: 700px) {
    background-size: 410px 350px;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    max-width: 1200px;
    margin-top: $space * 16px;
    margin-bottom: $space * 32px;

    @media screen and (max-width: 700px) {
      margin-top: $space * 8px;
      margin-bottom: $space * 16px;
    }

    &__logo {
      display: flex;
      align-items: center;
      margin-bottom: $space * 4px;

      &__img {
        margin-top: 0 !important;
      }
    }

    &__text {
      max-width: 800px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;

      &> :nth-child(1) {
        margin-bottom: $space * 6px;
      }

      &> :last-child {

        @media screen and (max-width: 965px) {
          max-width: 800px;
        }
      }

      &__title {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 1050px) {
            max-width: 800px;

          }

        @media screen and (max-width: 620px) {
            flex-direction: column;

        }
      }

    }
  }

  img {
    margin-top: $space * 14px;
    max-width: 100%;
    width: 100%;

    @media screen and (max-width: 1260px) {
        width: 91%;
    }

    @media screen and (max-width: 700px) {
      margin-top: $space * 12px;
    }

    @media screen and (max-width: 965px) {
      margin-top: $space * 12px;
    }
  }
}