
.header {
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 72px;
    width: 100%;
    max-width: 1200px;
  
    @media (max-width: 1250px) {
      // margin-right: $space * 10px;
      // margin-left: $space * 10px;
      width: 90%;
    }

  }

  &-logo {
    margin-right: $space * 2px;
  } 

  &-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--color-secondary);
  }

  &-left {
    display: flex;
    flex-direction: row;

    p {
      color: var(--color-primary) !important;
      font-weight: 600;
    }

  
  }

  &-right {
    // &> :last-child {
    //   margin-left: 40px;
    // }

    display: none;
    @media (min-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $space * 10px ;
      color: var(--color-secondary);
    }
  }
}

.burger {
  position: relative;
  width: 16px;
  height: 11px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (max-width: 700px) {
    display: block;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }
}