
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  background: var(--color-background-default);
  position: fixed;

  &__fixed {
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid var(--color-background-divider);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 72px;
    width: 100%;
    max-width: 1200px;
  
    @media (max-width: 1250px) {
      width: 90%;
    }

  }

  &-logo {
    margin-right: $space * 2px;
  } 

  &-link-logo {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-secondary);
  }

  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      color: var(--color-primary) !important;
      font-weight: 600;
    }

  
  }

  &-right {
    display: none;
    
    @media (min-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $space * 10px ;
      color: var(--color-secondary);
    }
  }
}

.burger {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 700px) {
    display: flex;
  }
}