:root {
  --color-primary: #111827;
  --color-secondary: rgba(107, 114, 128, 1);
  --color-main: rgba(249, 115, 22, 1);
  --color-background-paper: #FFFFFF;
  --color-background-default: #F9FAFB;
  --color-background-divider: #E5E7EB;

}

$space: 4;

$max-width-contaner: 1200px;