<section class="partners">
  <div class="partners__title">
    <h4>Нам</h4>
    <h4 class="orange_color">&nbsp;доверяют</h4>
  </div>
  <div class="partners__card">
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/tatneft.svg" alt="tatneft-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/mosingproekt.svg" alt="mosingproekt-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/polus.svg" alt="polus-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/glavstroi.svg" alt="glavstroi-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/a101.svg" alt="a101-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/capital.svg" alt="capital-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/tatneft.svg" alt="tatneft-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/mosingproekt.svg" alt="mosingproekt-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/polus.svg" alt="polus-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/glavstroi.svg" alt="glavstroi-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/a101.svg" alt="a101-logo"></img>
    </div>
    <div class="animation">
      <img src="{{ site.baseurl }}/assets/img/mainPage/ourPartners/capital.svg" alt="capital-logo"></img>
    </div>
  </div>
</section>
