.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-paper);
  margin-top: 72px;

  &__content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $space * 32px;
    margin-bottom: $space * 26px;
    color: var(--color-primary);


    h5:not(.exception) {
      margin-top: $space * 10px;

      @media screen and (max-width: 700px) {
          margin-top: $space * 4px;
        }
    }

    @media screen and (max-width: 900px) {
      width: 90%;
      margin: $space * 32px auto $space * 10px;
    }
    
    @media screen and (max-width: 700px) {
      margin-top: $space * 16px;
    }
  }

  h1 {
    margin-bottom: $space * 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    
    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }

  }

  h5 {
    margin-bottom: $space * 6px;
  }

  p {
    margin-bottom: $space * 6px;
  }
}